<% include header %>
	<form action="/upload" method="post" enctype="multipart/form-data">
		<p>
			<input type="text" name="name">
		</p>
		<p>
			<input type="file" name="photo" id="">
		</p>
		<p>
			<input type="submit" value="提交">
		</p>
	</form>
<% include footer %>